<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.UserDao">
	<select id="selectByLoginId" parameterType="string" resultType="com.example.app.domain.User">
		SELECT * FROM users WHERE login_id = #{loginId}
	</select>
	
	<insert id="insert" parameterType="com.example.app.domain.User">
		INSERT INTO users (login_id, login_pass, name) VALUES (#{loginId}, #{loginPass}, #{name})
	</insert>
</mapper>
