.photo-container img {
    display: none;
    width: 800px;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;
}

#prev-photo, #next-photo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 70px;
    cursor: pointer;
}

#prev-photo { left: 5px; }
#next-photo { right: 5px; }

@media (max-width: 640px) {
    .photo-container img {
      width: 100%;
      height: 300px;
    }
}
